In [1]:
# DataFrame

import pandas as pd

mydataset = {'cars':["BMW","Volvo","Ford"],'passings':[3,7,2]}

myvar = pd.DataFrame(mydataset)

print(myvar)

    cars  passings
0    BMW         3
1  Volvo         7
2   Ford         2

In [2]:
# Series

a = [1,7,2]

myvar = pd.Series(a)
myvarr = pd.DataFrame(a)

print(myvar)
print(myvarr)

0    1
1    7
2    2
dtype: int64
   0
0  1
1  7
2  2

In [3]:
# Labels

a = [1,7,2]

myvar = pd.Series(a, index = ['x','y','z'])

print(myvar)
print(myvar['x'])

x    1
y    7
z    2
dtype: int64
1

In [4]:
calories = {"day1":420,"day2":380,"day3":390}

myvar = pd.Series(calories)       # myvarr = pd.DataFrame(calories) "cant be taken "

print(myvar)

day1    420
day2    380
day3    390
dtype: int64

In [5]:
calories = {"day1":420,"day2":380,"day3":390}

myvar = pd.Series(calories, index = ['day1','day2'])
print(myvar)

day1    420
day2    380
dtype: int64

In [6]:
# A DataFrame from two Series

data = {
    "calories":[420,380,390],
    "duration":[50,40,45]
}
df =pd.DataFrame(data)

print(df)

   calories  duration
0       420        50
1       380        40
2       390        45

In [7]:
print(df.loc[0])

calories    420
duration     50
Name: 0, dtype: int64

In [8]:
print(df.loc[[0,1]])

   calories  duration
0       420        50
1       380        40

In [9]:
# named index in DataFrame

data = {
    "calories":[420,380,390],
    "duration":[50,40,45]
}
df =pd.DataFrame(data, index = ['day1','day2','day3'])

print(df)

      calories  duration
day1       420        50
day2       380        40
day3       390        45

In [10]:
print(df.loc['day2'])

calories    380
duration     40
Name: day2, dtype: int64

In [11]:
data = {
    "Duration":{
        "0":60,
        "1":60,
        "3":60,
        "4":45,
        "5":45,
        "6":60,
    },
    "Pulse":{
        "0":110,
        "1":117,
        "3":103,
        "4":109,
        "5":117,
        "6":102,
    },
    "Maxpulse":{
        "0":130,
        "1":145,
        "3":135,
        "4":175,
        "5":148,
        "6":127,
    },
    "Calories":{
        "0":409,
        "1":479,
        "3":340,
        "4":282,
        "5":406,
        "6":309,
    }
}
df = pd.DataFrame(data)
df

   Duration  Pulse  Maxpulse  Calories
0        60    110       130       409
1        60    117       145       479
3        60    103       135       340
4        45    109       175       282
5        45    117       148       406
6        60    102       127       309

In [1]:
# fillna

df = pd.read_csv("data.csv")

nee_df = df.fillna(100,inplace = True)   # replace 100 with empty cell
print(nee_df.to_string())

nee_df = df["Callories"].fillna(100,inplace = True)   # replace 100 with empty cell in Callories column
print(nee_df.to_string())

x = df["Callories"].mean()
d = df["Callories"].fillna(x, inplace = True)     # replace using mean
print(d.to_string)

y = df["Callories"].median()
d = df["Callories"].fillna(y, inplace = True)     # replace using median
print(d.to_string)

z = df["Callories"].mode()[0]
d = df["Callories"].fillna(z, inplace = True)     # replace using mode
print(d.to_string)

NameError: name 'pd' is not defined